@import url(style-workout.css);
@import url(style-plans.css);
@import url(style-breadcrumb.css);
@import url(style-blog.css);
@import url(style-search.css);
@import url(style-social.css);
@import url(style-signup.css);
@import url(style-membership.css);

a {
    color: #dc3545;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.card-hover:hover {
    box-shadow: 2px 3px 3px black;
    border-radius: 0.55rem;
    cursor: pointer;
}


.card-perso {
    box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

/* nav bar O.V */
#myNav {
    padding: 12px;
    background-color: #800f1a !important;
    text-align: center;
}

#myNav .logo {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0%;
}

#containerLogin {
    max-width: 420px;
    color: white;
}

#containerSignup {
    max-width: 600px;
    color: white;
}

#btnLogin {
    width: 100%;
}

#btnSignup {
    width: 100%;
}

.btn-full {
    width: 100%;
}

#btnAddExercice {
    width: 100%;
}



.card-membership {
    min-height: 300px;
}

.card-selectable {
    color: #fff;
    background-color: #6D757D;
    border-radius: 0.55rem; 
    border: 2px solid #000000;
}

.card-selectable:hover {
    border: 2px solid rgba(220, 53, 69, 1);
    background-color: rgba(220, 53, 69, 0.6);
}

.card-selectable-selected {
    background-color: #dc3545;
}

.landing {
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-text-box h1.title {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

h4.title {
    color: #dc3545;
}

p.text {
    color: #FFFFFF;
}

.carousel-indicators .active {
    background-color: #dc3545;
}

.slide {
    height: 400px;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url('../images/sliders/couple-training.jpg');
}

.slide2 {
    background-image: url('../images/sliders/lady-workout-leggings.jpg');
}

.slide3 {
    background-image: url('../images/about/guy-red-gloves-cropped.jpg');
}

/* Shop */
.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.h-100 {
    height: 100% !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.profile {
    color: #fff;
}

.profile .card {
    border: 1px solid #dc3545;
    background-color: #22252A;
    margin-bottom: 10px;
}

.profile h5.card-title {
    color: #dc3545;
    border-bottom: 1px solid #dc3545;
    padding: 2px 0px;

}

.profile .icon {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile .nav-tabs {
    border-bottom: 1px solid #dc3545;
    margin-bottom: 10px;

}

.profile .nav-tabs .nav-link.active {
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545 #dc3545 #dc3545;
}

.profile .nav-tabs .nav-link {
    color: #dc3545;
}

.profile .nav-tabs .nav-link:hover {
    color: #fff;
    background-color: rgba(220, 53, 69, 0.6);
    border-color: #dc3545;
}

.profile .goals input[type=text] {
    max-width: 100px;
    color: #dc3545;
    background-color: #22252A;
}

.align-right {
    text-align: right;
}

.profile-edit img {
    max-width: 50px;
}

.profile-edit img.selected {
    border: 1px solid blue;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

#btn-checkout {
    width: 100%!important;
}

.container-welcome{
    padding: 70px;
    max-width: 100%;
    color: #ffffff;
    background-color: #800f1a;
}
.container-welcome button{
    font-size:20px;
    min-height: 68px;
}
.container-our-plans{

    padding: 70px;
    max-width: 100%;
    color: #ffffff;
}
.container-our-plans p{
    text-align: center;
}
.container-our-plans h1{
    text-align: center;
    color:#dc3545;
}

#wrapper{
    min-height: 100%;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

html, body {
    height: 100%;
}

footer{
   
    bottom: 0;
    width: 100%
}
.footer-main{
    margin-top: 60px;
    padding: 45px 70px 25px 70px ;
    background-color: #000000;
    min-height: 200px;
    color: #ffffff;
    width:100%;
    bottom:0;
    left:0;
}
.footer-main small{
    color: #949494;
}

.footer-main li{
    font-size: smaller;
}

.container-our-plans ul{
    list-style: square;
    padding-left: 15px;
}

.container-our-plans .card{
    background-color: #ffffff;
    color: #22252A;
}

.container-our-plans .card-premium button{
    background-color: #dc3545;
    border-color: #dc3545;
}
.container-our-plans .card-premium button:hover{
    background-color: #800f1a;
    border-color: #dc3545;
}
.container-our-plans .card-title{
    text-align: center;
    color: #dc3545;
    border-bottom: 1px solid #dc3545;
    padding: 2px 0px;

}
.container-our-plans button{
    margin-top: 10px;
}



.btn-cat-shop {
    width: 130px;
}

.btn-cat-blog {
    width: 130px;
}

#contCompOrder{
    display: none;
}


.dummy-positioning {
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
  }
  
  .success-icon {
    display: inline-block;
    width: 8em;
    height: 8em;
    font-size: 10px;
    border-radius: 50%;
    border: 4px solid #96df8f;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transform-origin: center;
    -webkit-animation: showSuccess 180ms ease-in-out;
            animation: showSuccess 180ms ease-in-out;
    transform: scale(1);
  }
  
  .success-icon__tip, .success-icon__long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: #96df8f;
    border-radius: 10px;
  }
  .success-icon__tip {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    transform: rotate(45deg);
    -webkit-animation: tipInPlace 300ms ease-in-out;
            animation: tipInPlace 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 180ms;
            animation-delay: 180ms;
    visibility: hidden;
  }
  .success-icon__long {
    width: 4em;
    transform: rotate(-45deg);
    top: 3.7em;
    left: 2.75em;
    -webkit-animation: longInPlace 140ms ease-in-out;
            animation: longInPlace 140ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    visibility: hidden;
    -webkit-animation-delay: 440ms;
            animation-delay: 440ms;
  }
  
  @-webkit-keyframes showSuccess {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes showSuccess {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  @-webkit-keyframes tipInPlace {
    from {
      width: 0em;
      top: 0em;
      left: -1.6em;
    }
    to {
      width: 2.4em;
      top: 4.3em;
      left: 1.4em;
      visibility: visible;
    }
  }
  @keyframes tipInPlace {
    from {
      width: 0em;
      top: 0em;
      left: -1.6em;
    }
    to {
      width: 2.4em;
      top: 4.3em;
      left: 1.4em;
      visibility: visible;
    }
  }
  @-webkit-keyframes longInPlace {
    from {
      width: 0em;
      top: 5.1em;
      left: 3.2em;
    }
    to {
      width: 4em;
      top: 3.7em;
      left: 2.75em;
      visibility: visible;
    }
  }
  @keyframes longInPlace {
    from {
      width: 0em;
      top: 5.1em;
    }
    to {
      width: 4em;
      top: 3.7em;
      left: 2.75em;
      visibility: visible;
    }
  }

  .carousel-caption h5{
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  }