@import url(style-workout.css);
@import url(style-plans.css);

.card-hover:hover {
    box-shadow: 2px 3px 3px black;
    border-radius: 0.55rem;
    cursor: pointer;
}


.card-perso {
    box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

/* nav bar O.V */
#myNav {
    padding: 12px;
    /* background-color: #dc3545 !important; */
    text-align: center;
  }

#myNav .logo {
padding-left: 10px;
padding-right: 10px;
margin-right: 0%;
}

#containerLogin {
    max-width: 420px;
    color: white;
}

#containerSignup {
    max-width: 600px;
    color: white;
}

#btnLogin {
    width: 100%;
}

#btnSignup {
    width: 100%;
}


.cardLogin {
    min-height: 220px;
}

 /* Style the list */
 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .landing {
      min-height: 400px;
      background-image: url('/AkatsukiFitness/images/about/guy-red-gloves-cropped.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; 
  }

  h4.title {
      color: #dc3545;
  }
  p.text{
      color: #FFFFFF;
  }