/* CSS reset */
.forfait *,
.forfait *::after,
.forfait *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.forfait {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.forfait .card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.forfait .inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.forfait .inside-page__heading,
.forfait .card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.forfait .inside-page__heading--bronze,
.forfait .card-front__text-view--bronze { color: #b08d57; }

.forfait .inside-page__heading--argent,
.forfait .card-front__text-view--argent { color: #C0C0C0; }

.forfait .inside-page__heading--or,
.forfait .card-front__text-view--or { color: #FFD700; }

/* Front cover */

.forfait .card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.forfait .card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.forfait .inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.forfait .card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.forfait .forfait.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.forfait .inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.forfait .inside-page__btn--bronze { 
  border-color: #b08d57;
  color: #b08d57;
}

.forfait .inside-page__btn--bronze::before { 
  background-color: #b08d57;
}

.forfait .inside-page__btn--argent { 
  border-color: #C0C0C0;
  color: #C0C0C0;
}

.forfait .inside-page__btn--argent::before { 
  background-color: #C0C0C0;
}

.forfait .inside-page__btn--or { 
  border-color: #FFD700;
  color: #FFD700;
}

.forfait .inside-page__btn--or::before { 
  background-color: #FFD700;
}

.forfait .inside-page__btn:hover { 
  color: #fafbfa;
}

.forfait .inside-page__btn:hover::before { 
  transform: scaleY(1);
}

/* Layout Structure=========================================*/

.forfait .main {
  background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.forfait .card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.forfait .card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.forfait .card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 25rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 25rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.forfait .flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.forfait .flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.forfait .card-front,
.forfait .card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.forfait .card-front {
  background-color: #fafbfa;
  height: 25rem;
  width: 15rem;
}

/* Front side's top section */
.forfait .card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 22rem;
  justify-content: center;
  padding: .75rem;
}

.forfait .card-front__tp--bronze {
  background: linear-gradient(
    to bottom,
    #b08d57,
    #b08d57
  );
}

.forfait .card-front__tp--argent {
  background: linear-gradient(
    to bottom,
    #C0C0C0,
    #C0C0C0
  );
}

.forfait .card-front__tp--or {
  background: linear-gradient(
    to bottom,
    #FFD700,
    #FFD700
  );
}



/* Front card's bottom section */
.forfait .card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.forfait .card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.forfait .img__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.forfait .inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.forfait .inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.forfait .card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.forfait .card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.forfait .card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}