/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: none;
    margin-bottom: 0px;
  }

  
  /* Display list items side by side */
  ul.breadcrumb li {
      padding: 3px;
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    
    color: #ffffff;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    padding: 3px;
    color: #dc3545;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    padding: 3px;
    color: #ffffff;
    background-color: #dc3545;
    border-bottom: solid 3px #595959;
    text-decoration: none;
  }