@import url(style-workout.css);
@import url(style-plans.css);
@import url(style-breadcrumb.css);
@import url(style-blog.css);
@import url(style-search.css);


a {
    color: #dc3545;
    text-decoration: none;
}

a:hover {    
    color: #ffffff;
    text-decoration: none;

}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

.card-hover:hover {
    box-shadow: 2px 3px 3px black;
    border-radius: 0.55rem;
    cursor: pointer;
}


.card-perso {
    box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
}

/* nav bar O.V */
#myNav {
    padding: 12px;
    /* background-color: #dc3545 !important; */
    text-align: center;
}

#myNav .logo {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0%;
}

#containerLogin {
    max-width: 420px;
    color: white;
}

#containerSignup {
    max-width: 600px;
    color: white;
}

#btnLogin {
    width: 100%;
}

#btnSignup {
    width: 100%;
}


.card-login {
    color: #fff;
    background-color: #6D757D;
    border-radius: 0.55rem;
    border: 2px solid #000000;
    min-height: 300px;
}

.card-login:hover {
    border: 2px solid rgba(220, 53, 69, 1);
    background-color: rgba(220, 53, 69, 0.6);
}

.card-login-selected{
    background-color: #dc3545;
}

.landing {
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing-text-box h1.title {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

h4.title {
    color: #dc3545;
}

p.text {
    color: #FFFFFF;
}




.carousel-indicators .active {
    background-color: #dc3545;
}

.slide {
    height: 400px;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url('../images/sliders/couple-training.jpg');
}

.slide2 {
    background-image: url('../images/sliders/lady-workout-leggings.jpg');
}

.slide3 {
    background-image: url('../images/about/guy-red-gloves-cropped.jpg');
}

/* Shop */
.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.h-100 {
    height: 100% !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.profile{
    color: #fff;
}
.profile .card{
    border:1px solid #dc3545;
    background-color: #22252A;
    margin-bottom: 10px;
}

.profile h5.card-title{
    color:#dc3545;
    border-bottom: 1px solid #dc3545;
    padding: 2px 0px;
    
}

.profile .icon
{
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profile .nav-tabs{
    border-bottom: 1px solid #dc3545;
    margin-bottom: 10px;
    
}

.profile .nav-tabs .nav-link.active{
    color: #FFFFFF;
    background-color: #dc3545;
    border-color: #dc3545 #dc3545 #dc3545;
}
.profile .nav-tabs .nav-link{
    color: #dc3545;
}
.profile .nav-tabs .nav-link:hover{
    color: #fff;
    background-color: rgba(220, 53, 69, 0.6);
    border-color: #dc3545;
}

.profile .goals input[type=text] {
    max-width: 100px;
    color: #dc3545;
    background-color: #22252A;
}

.align-right{
    text-align: right;
}